body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('7123945_logo_pay_google_gpay_icon.png');
    
}
.maincontainer{
    dispaly:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.payment-container {
    max-width: 750px;
    margin: 0 auto;
    background: #ef0c0f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    min-height: 285px;
    
}
.payment-button {
    background: #4285F4;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
.payment-status {
    margin-top: 20px;
}
.payment-status {
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.processing {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}